*{
	margin: 0;
	padding: 0;
	font-family: NanumPenScript;

	src: url(fonts/NanumPenScript-Regular.ttf);
	box-sizing: border-box;
	
	
	


}

@font-face{
font-family: mfont;
src: url(fonts/font.ttf);

}

@font-face{
font-family: NanumPenScript;

src: url(fonts/NanumPenScript-Regular.ttf);

}


body{

	 background-image: url(images/pexelsbg.jpg); 

	/* background: linear-gradient(180deg, #ddf4ff, #ffffff); */
	
	background-size: cover;
	background-attachment: fixed;

	


}

.float{

	animation: animate 3s infinite;


}

@keyframes animate {
	0%{
		transform: translateY(-5px);

	}
	50%{
		transform: translateY(0px);

	}
	100%{
		transform: translateY(-5px);

	}
	
	
}


.container{
	
	width: 100%;
	min-height: 100vh;
	padding-left: 8%; 
	padding-right: 8%;
	box-sizing: border-box;
	overflow: hidden;
	
	
}

.row{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 50px 0;
	
}

.card-container{
	display: flex;
	
	justify-content: center;
	flex-wrap: wrap;
	background: linear-gradient(90deg, #d5f2ff, #adecff);
	background-size: cover;
	background-image: url(images/ReachMetaverse.jpg);
	
	


}

.card{
	
 width: 20%;
 height: auto;
 margin:30px;
 margin-top: 100px;
 border-radius: 15px;
 background: rgba(0, 0, 0, 0.4);
 box-shadow: 0 4px 28px 0 rgba(5, 5, 5, 0.8);
 transition: all 1s ease;

 
 

}
.card:hover{
	transform: scale(1.03);
	transition: all 1s ease;
}

.card h2{
	padding: 10px;
	text-align: center;
	font-family: mfont;
	color: #ffc628;
}

.card p{
	padding: 10px;
	text-align: center;
	color: #757575;
	font-weight: bold;
}

.card a{

	
	color: white;
	padding: 15px 20px;
	display: block;
	text-align: center;
	margin: auto;
	font-size: 1.5vw;
	border-radius: 6px;
	cursor: pointer;
	text-decoration: none;
	
	

}

.card a:hover{
	transform: scale(1.07);
	
	
}



.card-image{
	
	height:270px;
	width: auto;
	margin: 12px;
	margin-bottom: 15px;
	background-size: cover;
	border-radius: 10px;
	mix-blend-mode: lighten;
	
	


}

.car-1{
	
 background-image: url(images/mint.jpg);
 


}

.car-2{

	background-image: url(images/Reach.jpg);
   
   }

.car-3{

	background-image: url(images/reachmeta.jpg);
   
}



.navbar{
	
	width: auto;
	display: flex;
	align-items: center;
	
		
	
}

.logo{
	
	width: 200px;
	cursor: pointer;
	margin: 10px 0;
	
	
	
}

.menu{
	font-size: 5vw;
	cursor: pointer;
	display: none;
	
	
	
	
}


nav{
	flex: 1;
	text-align: right;
	
	
}


nav ul li{
	list-style: none;
	display: inline-block;
	margin-right: 30px;
	
	
}


nav ul li a{
	text-decoration: none;
	color: rgb(255, 255, 255);
	text-shadow: 2px 2px 10px #202020;
	font-size: 2vw;
	font-weight: bold;
	
}

nav ul li a:hover{
	
	color: rgb(255, 197, 122);
	
	
}





.col-1{
	flex-basis: 48%;
	position: relative;
	margin-left: 51px;
	
	align-items: center;
	
	
	
}

.col-2{
	
	position: relative;
	flex-basis: 80%;
	display: flex;
	margin: auto;
	justify-content: center;
	
	
	
	
}

.col-3{
	flex-basis: 48%;
	position: relative;
	margin-left: 51px;
	
	align-items: center;
	border-style: dotted;
	
	
}
.col-4{
	
	position: relative;
	flex-basis: 40%;
	display: flex;
	margin: auto;
	justify-content: center;
	
	
	
	
}


.col-3 h2{
	font-family: mfont;
	font-size: 3vw;
	color: #368fb3;
	white-space: nowrap;
}

.col-3 h3{
	
	font-size:2vw;
	color: #474747;
	font-weight: 100;
	margin: 1px 0 20px;
	font-family:NanumPenScript;

}

.col-3 p{
	
	font-size: 16px;
	color: #99af39;
	font-weight: 100;
	
}



.col-1 h2{
	font-family: mfont;
	font-size: 3vw;
	color: #368fb3;
	text-shadow: 2px 2px 4px #ffffff;
	white-space: nowrap;
}

.col-1 h3{
	
	font-size:2vw;
	color: #ffffec;
	text-shadow: 2px 2px 4px #5a5a5a;
	font-weight: 100;
	margin: 1px 0 20px;
	font-family:NanumPenScript;
	

}

.col-1 p{
	
	font-size: 16px;
	color: #99af39;
	font-weight: 100;
	
}

.col-1 h4{
	
	margin: 30px 0;
	font-size: 20px;
}


button{
	width: 140px;
	border: 0;
	padding : 6px 5px;
	outline: none;
	color: #fff;
	background: linear-gradient(to right,rgb(255, 177, 75), #ffe96b); 
	text-decoration: none;
	font-size: 2vw;
	border-radius: 6px;
	cursor: pointer;
	font-weight: bold;
	
	
	
}


button:hover{
	transform: scale(1.03);
	
	
	
}



button img{
	width:30px;
	display: none;
	
	
}










.col-3 p{
	
	text-align: center;
	
	font-family: fantasy;
	color: #7c7c7c;
	
	
	
}





.col-2 .land{

	width: 100%;
	transition: all 1s ease;
	
	
}



.col-2 .land:hover{

	transform: scale(1.03);
	transition: all 1s ease;
	
	
}




.land-text{
	display: block;
	text-align: center;
	text-indent: -50px;
	font-family: mfont;
	font-size: 34px;
	color: #368fb3;
	white-space: nowrap;
	
}




.image-box{
	
	position: absolute;
	right: 0;
	top: 0;
	background-image: url(images/metaversebg.png);
	background-size: cover;
	border-radius: 11px;
	height: 100%;
	width: 60%;
	z-index: -1;
	transform: translateX(80px);
	
}
.image-box h2{
	transform: translateX(40px);
	transform: translateY(90px);
	


}


.social-links img{
	
	height: 43px;
	margin: 20px;
	cursor: pointer;
	
	
}

.social-links img:hover{
	transform: scale(1.07);
}

.social-links {
	
	text-align: center;
	
	box-shadow: 0 4px 18px 0 rgba(5, 5, 5, 0.2);
	background-color: rgba(255, 255, 255, 0.5);
	max-width: 360px;
	border-radius: 51px;
	margin: 200px auto;
	display: flex;
  	align-items: center;
  	justify-content: center;
	

	
}

@media only screen and (max-width:700px){
	nav ul{
		width:100%;
		background: linear-gradient(#7ee1ff, #7bbde4);
		position: absolute;
		top: 75px;
		right: 0;
		z-index: 2;
	}
	
	nav ul li{
		display: block;
		margin-top: 10px;
		margin-bottom: 10px;
		
	}
	
	nav ul li a{
		
		color: #fff;
		font-size: 3vw;
		
	}

	nav ul li a:hover{
	
		color: rgb(238, 255, 0);
		
		
	}
	
	.menu{
		display: block;
		
		cursor: pointer;
		width: 25px;
		cursor: pointer;
	
		color: rgb(255, 255, 255);
		text-shadow: 2px 2px 8px #3d3d3d;
		
		
	}
	
	#menuList{
		overflow: hidden;
		transition: 0.5s;
		
	}
	
	.row{
		flex-direction: column-reverse;
		margin: 50px 0;
		
			
	}
	
	.col-2{
		flex-basis: 100%;
		margin-bottom: 50px;
		
		
		
		
	}
	
	
	
	.image-box{
		transform: translateX(75px); 
		
	}
	
	.col-1{
		
		flex-basis: 100%;
	}
	
	.col-1 h2{
		font-size: 35px;
		
	}
	
	.col-1 h3{
		font-size: 25px;
		
	}

	.image-box h2{
		transform: translateX(2px);
		transform: translateY(60px);
		font-size: 2vh;
		text-align: left;
		
	
	
	}
	
	.land-text{
		display: block;
		text-indent: 10px;
		font-family: mfont;
		font-size: 4vh;
		color: #368fb3;
		white-space: nowrap;
		
	}

	.card{
		background: rgba(255, 255, 255, 0.1);
		width: 400px;
		height: 500px;
		margin:30px;
		margin-top: auto;
		border-radius: 15px;
		box-shadow: 0 4px 28px 0 rgba(5, 5, 5, 0.3);
		
		
	   
	   }
	
	   .card-image{
		
	
		height:270px;
		margin: 12px;
		margin-bottom: 15px;
		background-size: cover;
		border-radius: 10px;
		mix-blend-mode: normal;
	
	
	}

	   .social-links {
	
		text-align: center;
		
		box-shadow: 0 4px 18px 0 rgba(5, 5, 5, 0.2);
		background-color: rgba(255, 255, 255, 0.5);
		
		max-width: 360px;
		border-radius: 51px;
		margin: auto auto;
		display: flex;
		  align-items: center;
		  justify-content: center;
		
	
		
	}
	
	
	
}